/.clangd
/.vscode
/DebugConfig
/keilkill.bat
/Listings
/Objects
/out
/tmp
/TrackingDevice+Target_1.cbuild.yml
/TrackingDevice.cbuild-idx.yml
/TrackingDevice.cbuild-pack.yml
/TrackingDevice.cbuild-set.yml
/TrackingDevice.cproject.yml
/TrackingDevice.csolution.yml
/TrackingDevice.uvguix.wulia
/TrackingDevice.uvoptx
/TrackingDevice_Target_1.sct
/uv2csolution.log
/vcpkg-configuration.json